body {
  width: 500px;
  margin: 20px auto;
  font-family: sans-serif;
}

/* Outer most container */
.container {
  width: 300px;
  margin: auto;
  border: black solid 5px;
  border-radius: 10px;
  text-align: center;
}


/* Timer value */
.timer-value {
  font-size: 5em;
}

/* Status line */
.status-line {
  padding: 1em;
  font-size: 1em;
  font-style: italic;
}

.status-line ul {
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style: none;
}

.status-line ul li {
  width: 100%;
  text-align: center;
  vertical-align: center;
}

/* Controller */
.controller {
  background: #CCCCCC;
  padding: 1em;
  font-size: 1em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.controller > button {
  width: 6em;
  height: 3em;
  display: block;
  background-color: white;
  margin: 2px;
  border: 2px solid black;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.2s
}

.controller > button:disabled {
  border: 2px solid gray;
  opacity: 0.6;
  background-color: white;
}

/* Settings */
div.setting {
  display: flex;
  flex-direction: column;
}

div.setting div.setting-field {
  display: flex;
  border-top: 2px solid #CCDDCC;
  justify-content: space-between;
}

div.setting div.setting-field > span, input {
  margin: 0.5em;
}

div.setting div.setting-field > input {
  outline: none;
  border: none;
  border-bottom: 1px ridge black;
  padding-left: 0.5em;
}

div.setting div.setting-field > input:disabled {
  color: #CCCCCC;
}
